<div class="w-auto h-[450px] bg-[#03081F] z-0 lg:rounded-lg flex">
  <!-- left -->
  <div
    class="flex-grow ml-8 relative top-[120px] justify-center text-center md:justify-start md:text-start"
  >
    <p class="font-poppins text-sm text-white z-10 font-semibold">
      Order Restaurant food, takeaway and groceries.
    </p>
    <h1 class="z-10 text-white text-4xl font-bold">
      Feast Your Senses,<span class="z-10 text-[#FC8A06]"
        ><br />Fast and Fresh</span
      >
    </h1>
    <div class="mx-5 mt-3">
      <p class="text-white font-poppins text-[10px]">
        Enter a postcode to see what we deliver
      </p>
      <div class="flex mt-2 justify-center text-center md:justify-start">
        <input type="text" class="rounded-l-xl h-9 w-[200px] px-2" />
        <a
          class="rounded-r-xl h-9 px-4 py-2 bg-[#FC8A06] text-white text-sm font-bold cursor-pointer flex items-center justify-center"
          >Search</a
        >
      </div>
    </div>
  </div>
  <div
    class="relative w-auto h-[400px] flex-grow justify-end flex items-center"
  >
    <!-- right -->
    <div
      class="w-auto h-[420px] flex-grow justify-end text-white relative top-10 bg-[#FC8A06] rounded-tl-[200px] hidden lg:block"
    ></div>
  </div>
</div>
