<div class="flex flex-col mx-5">
  <h1 class="text-center mb-5">Add Products</h1>
  <div class="flex flex-col items-start">
    <div class="border rounded-2xl drop-shadow-sm p-5">
      <h1>General Information</h1>
      <p class="text-sm text-gray-400 py-3">Name</p>
      <input
        class="bg-gray-100 rounded-md h-9 p-2 w-[600px]"
        type="text"
        placeholder="name.."
      />
      <p class="text-sm text-gray-400 py-3">Descripion</p>
      <textarea
        class="bg-gray-100 rounded-md p-2 w-[600px]"
        rows="8"
        type="text"
        placeholder="Descripion..."
      ></textarea>
    </div>
  </div>
</div>
