<div class="flex flex-col items-center md:grid md:grid-cols-3 lg:grid-cols-4">
  <div
    class="m-4 py-5 border rounded-lg shadow-2xl cursor-pointer hover:bg-slate-100"
  >
    <div class="flex justify-center items-center w-full">
      <div class="w-[380px] md:w-[200px] lg:w-[240px]">
        <img
          class="rounded-lg mx-auto w-[400px] md:w-[200px] lg:w-[240px]"
          [src]="food?.imageUrl"
        />
      </div>
    </div>
    <div class="flex items-center justify-center p-3">{{ food?.name }}</div>
    <div class="flex flex-row items-center justify-center">
      <p class="pr-4">$ {{ food?.price }}</p>
    </div>
    <div class="flex flex-row items-center justify-center pt-3">
      <button
        class="bg-transparent border hover:text-white hover:bg-orange-400 border-orange-400 text-orange-400 justify-center rounded-2xl items-center h-9 w-[100px]"
        (click)="addTOCart(food)"
      >
        addTOCart
      </button>
    </div>
  </div>
</div>
