<div
  class="relative flex flex-col p-5 mt-2 md:flex-row lg:space-x-3 rounded-lg justify-around"
>
  <div class="relative">
    <img
      class="w-[600px] h-[350px] rounded-lg object-cover"
      src="https://imgs.search.brave.com/niQDefBP3cOyU5JfdrIKDic6GlmdXrpq_dRnQMx2KCg/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE2/MDc0MzA5ODYwODgt/YTUxZGRiYzdjYzZl/P3E9ODAmdz0xMDAw/JmF1dG89Zm9ybWF0/JmZpdD1jcm9wJml4/bGliPXJiLTQuMC4z/Jml4aWQ9TTN3eE1q/QTNmREI4TUh4elpX/RnlZMmg4Tkh4OFky/OXZhMlZrSlRJd1pt/OXZaSHhsYm53d2ZI/d3dmSHg4TUE9PQ.jpeg"
      alt="Business signup"
    />
    <div class="absolute inset-0 flex flex-col justify-end text-white p-5">
      <p class="text-[#FC8A06] font-bold text-sm font-poppins">
        Signup as a business
      </p>
      <p class="font-poppins font-extrabold text-2xl">Partner with us</p>
      <a
        class="bg-[#FC8A06] w-[120px] h-8 text-center font-bold flex items-center justify-center rounded-2xl mt-2"
      >
        Get Started
      </a>
    </div>
  </div>
  <br />

  <div class="relative">
    <img
      class="w-[650px] h-[350px] rounded-lg object-cover"
      src="https://imgs.search.brave.com/CRlk_qGI6XxOnlzTGnS0rWEU41tBpAdAhipmBzg_KeE/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvMTM4/NTkxMzI2OS9waG90/by9kZWxpdmVyeS1t/YW4td2VhcmluZy1i/bHVlLXVuaWZvcm0t/cmlkaW5nLW1vdG9y/Y3ljbGUtYW5kLWRl/bGl2ZXJ5LWJveC1p/c29sYXRlZC1vbi15/ZWxsb3cud2VicD9i/PTEmcz0xNzA2Njdh/Jnc9MCZrPTIwJmM9/OHFZNjVXODBKZmpD/WERNVnV2bFVmcWR0/MThvM3d5UFJLUjkt/akl5NXcxZz0"
      alt="Business signup"
    />
    <div class="absolute inset-0 flex flex-col justify-end text-white p-5">
      <p class="text-[#FC8A06] font-bold text-sm font-poppins">
        Signup as a rider
      </p>
      <p class="font-poppins font-extrabold text-2xl">Ride with us</p>
      <a
        class="bg-[#FC8A06] w-[120px] h-8 text-center font-bold flex items-center justify-center rounded-2xl mt-2"
      >
        Get Started
      </a>
    </div>
  </div>
</div>
